<!-- This HTML document represents a view for displaying detailed client information. It is typically used within a web 
  application or system to present information about a specific client. The page includes a responsive layout with external style 
  sheets and font imports for consistent styling. The main content of the page displays client information in a table format. 
  It shows various details about the client, such as their name, contact information, medical condition, and details 
  of their last service. The table also includes a "Delete" button within a form, allowing the admin or user to delete 
  the client's record. A JavaScript function is used to confirm the deletion action before proceeding.Additionally, there is a 
  navigation link with a "Back" arrow icon that links back to the stylist's page, providing an easy way to navigate back to the 
  stylist's view. The page uses embedded EJS (Embedded JavaScript) tags to dynamically insert client-specific data, 
  making it suitable for displaying information about different clients. Developers can expand or customize this view by adding 
  more rows or client-specific details as needed. -->
<!-- views/clientInfo.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client Information</title>
    <link rel="stylesheet" href="/public/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a class="material-icons" href="/stylist/<%= stylistId %>">arrow_back</a>

    <h1>Client Information</h1>

    <table>
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Time of Submission:</td>
          <td><%= formatTimestamp(client.timeCreated) %></td>
        </tr>

        <tr>
          <td>Client First Name:</td>
          <td><%= client.cusFName %></td>
        </tr>

        <tr>
          <td>Client Last Name:</td>
          <td><%= client.cusLName %></td>
        </tr>

        <tr>
          <td>Client Email:</td>
          <td><%= client.cusTel %></td>
        </tr>

        <tr>
          <td>Date of their last service:</td>
          <td><%= formatDate(client.dateLastServ) %></td>
        </tr>

        <tr>
          <td>Medical condition?:</td>
          <td><%= client.medCond %></td>
        </tr>

        <tr>
          <td>Service Chosen:</td>
          <td><%= client.serviceDescription %></td>
        </tr>

        <td>
          <form
            action="/deleteClient/<%= client.resID %>"
            method="post"
            onsubmit="return confirmDelete();"
          >
            <button class="delete-button" type="submit">Delete</button>
          </form>
        </td>

        <!-- Add more rows based on your client information -->
      </tbody>
    </table>

    <script>
      function confirmDelete() {
        return confirm("Are you sure you want to delete this client?");
      }
    </script>
  </body>
</html>
