<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clients</title>
    <link rel="stylesheet" href="/public/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header-container">
      <form
        action="<%= isAdmin ? '/admin' : '/user' %>"
        method="get"
        class="back-button-form"
      >
        <button type="submit" class="back-button">
          <span class="material-icons">arrow_back</span>
        </button>
      </form>
      <h1 class="page-title">
        Client Information for Stylist <%= stylFName %>
      </h1>
    </div>

    <div class="table-container">
      <div class="responsive-table">
        <table>
          <thead>
            <tr>
              <th>Time of Submission</th>
              <th>Client First Name</th>
              <th>Client Last Name</th>
              <!-- <th>Client Email</th> -->
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% clients.forEach((client) => { %>
            <tr>
              <td><%= formatTimestamp(client.timeCreated) %></td>
              <td><%= client.cusFName %></td>
              <td><%= client.cusLName %></td>
              <!-- <td><%= client.cusEmail %></td> -->
              <td>
                <div class="client-actions">
                  <form action="/clientInfo" method="get" class="details-form">
                    <input
                      type="hidden"
                      name="resId"
                      value="<%= client.resID %>"
                    />
                    <input
                      type="hidden"
                      z
                      name="stylistId"
                      value="<%= stylistId %>"
                    />
                    <button type="submit" class="details-button">
                      Details
                    </button>
                  </form>
                  <form
                    action="/deleteClient/<%= client.resID %>"
                    method="post"
                    onsubmit="return confirmDelete();"
                    class="delete-form"
                  >
                    <button type="submit" class="delete-button">Remove</button>
                  </form>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <script>
      function confirmDelete() {
        return confirm("Are you sure you want to delete this client?");
      }
    </script>
  </body>
</html>
