<!-- This HTML document represents a responsive form for collecting client information and preferences 
  for a styling service. It includes fields for first name, last name, email, phone number, preferred stylist, 
  desired service, hair details, and medical conditions. Users can also upload photos and specify their last color service date. 
  The form allows users to submit their information and provides an option to log in. -->



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Dropdown</title>
    <link rel="stylesheet" href="/public/testing.css" />
  </head>
  <body>
    <div class="mainForm">
      <img id="topPhoto" src="/public/content/Group 25.png" alt="Riv & Co" />
      <form action="/submit-form" method="post">
        <!-- first name  -->

        <input
          type="text"
          name="cusFName"
          id="cusFName"
          placeholder="First Name"
          required
        />
        <br /><br />
        <!-- last name  -->
        <input
          type="text"
          name="cusLName"
          id="cusLName"
          placeholder="Last Name"
          required
        />
        <br /><br />
        <!-- email  -->
        <input
          type="text"
          name="cusEmail"
          id="cusEmail"
          placeholder="Email Address"
          required
        />
        <br /><br />
        <!-- phone  -->
        <input
          type="phone"
          name="cusTel"
          id="cusTel"
          placeholder="Phone Number"
          required
        />
        <br /><br />

        <!-- // first dropdown -->
        <label for="custom-select-wrapper">Preferred Stylist</label>
        <div class="custom-select-wrapper">
          <div class="custom-select">
            <div class="custom-select__trigger">
              <span>Choose an option</span>
              <div class="arrow"></div>
            </div>
            <div class="custom-options">
              <!-- 'Any' option -->
              <span class="custom-option" value="any">Any</span>
              <% stylists.forEach(function(stylist, index) { %>
              <span
                class="custom-option <%= index === 0 ? 'selected' : '' %>"
                value="<%= stylist.styleID %>"
              >
                <%= stylist.stylFName %> <%= stylist.stylLName %>
              </span>
              <% }); %>
            </div>
          </div>
          <input type="hidden" name="styleID" id="styleID" value="" />
        </div>
        <br /><br />

        <!-- // second dropdown -->
        <label for="custom-select-wrapper">What service would you like?</label>
        <div class="custom-select-wrapper">
          <div class="custom-select">
            <div class="custom-select__trigger">
              <span>Choose an option</span>
              <div class="arrow"></div>
            </div>
            <div class="custom-options">
              <% services.forEach(function(service, index) { %>
              <span
                class="custom-option <%= index === 0 ? 'selected' : '' %>"
                data-value="<%= service.servicesID %>"
              >
                <%= service.description %>
              </span>
              <% }); %>
            </div>
          </div>
          <input type="hidden" name="servicesID" id="servicesID" value="" />
        </div>
        <br /><br />

        <!-- File Inputs
        <label for="currentHairPhoto"
          >*Upload a photo of your current hair in natural lighting. No selfies
          or filters:</label
        >
        <input
          type="file"
          id="currentHairPhoto"
          name="currentHairPhoto"
        /><br /><br />
        <label for="hairInspirationPhoto"
          >* Upload a photo of your hair inspiration:</label
        >
        <input
          type="file"
          id="hairInspirationPhoto"
          name="hairInspirationPhoto"
        /><br /><br /> -->

        <!-- date input for last color service -->
        <label for="lastColorServiceDate"
          >When was your last color service?</label
        >
        <input type="date" id="dateLastServ" name="dateLastServ" /><br /><br />

        <p id="permColor">Do you have permanent color in your hair?</p>
        <input type="radio" id="yes" name="permColor" value="true" />
        <label for="yes">Yes</label><br />
        <input type="radio" id="no" name="permColor" value="false" />
        <label for="no">No</label>

        <!-- Hair Description Choices -->
        <h3>How would you describe your hair?</h3>
        <p id="hairDesP">Please select all that apply:</p>

        <div class="hairDescription">
          <label
            ><input type="checkbox" name="hairDescription[]" value="1" /><span
              class="custom-checkbox"
            ></span>
            Fine</label
          ><br />
          <label
            ><input type="checkbox" name="hairDescription[]" value="2" /><span
              class="custom-checkbox"
            ></span>
            Medium</label
          ><br />
          <label
            ><input type="checkbox" name="hairDescription[]" value="3" /><span
              class="custom-checkbox"
            ></span>
            Thick</label
          ><br />
          <label
            ><input type="checkbox" name="hairDescription[]" value="4" /><span
              class="custom-checkbox"
            ></span>
            Coarse</label
          ><br />
          <label
            ><input type="checkbox" name="hairDescription[]" value="5" /><span
              class="custom-checkbox"
            ></span>
            Straight</label
          ><br />
          <label
            ><input type="checkbox" name="hairDescription[]" value="6" /><span
              class="custom-checkbox"
            ></span>
            Wavy</label
          ><br />
          <label
            ><input type="checkbox" name="hairDescription[]" value="7" /><span
              class="custom-checkbox"
            ></span>
            Curly</label
          ><br />
          <label
            ><input type="checkbox" name="hairDescription[]" value="8" /><span
              class="custom-checkbox"
            ></span>
            Dry</label
          ><br />
          <label
            ><input type="checkbox" name="hairDescription[]" value="9" /><span
              class="custom-checkbox"
            ></span>
            Oily</label
          ><br />
          <label
            ><input type="checkbox" name="hairDescription[]" value="10" /><span
              class="custom-checkbox"
            ></span>
            Damaged</label
          ><br />
        </div>
        <br /><br />

        <input
          type="text"
          id="medCond"
          name="medCond"
          placeholder="Do you have any medical conditions?"
          required
        /><br /><br />

        <!-- ...rest of the form... -->
        <button type="submit" id="submitForm">Submit</button>
        <br /><br />
        <script src="/public/testing.js"></script>
        <button
          type="button"
          id="loginButton"
          onclick="window.location.href='/login';"
        >
          Login
        </button>
      </form>
      <br /><br />
    </div>
  </body>
</html>
